@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", serif;
}
/* header tag */
/* NAV STYLES */
header{
    background-color:#FFF8F3; ;
    align-items: center; 
    background-image:url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,95% 100%; 
    background-size: contain, 47%;           
}
header nav{
    display: flex;
    justify-content: space-between; 
    font-size:38px;
    font-weight: 800;
    font-style: normal;  
    margin: 26px 128px; 
}
header .text-primary{
    color:#FD6E0A;
}
header ul{
    display: flex;
    align-items: center;
}
header ul li{
    margin-right: 43px;
    list-style: none;
}
header ul li .dark-2{
    font-size:17px;
    font-weight: 400;
    color:#474747;
}
header ul li a{
    font-weight: 400;
    text-decoration: none;
}
header ul li .btn-primary{
    /* margin-top: -10px; */
    background-color: #FD6E0A;
    font-size: 17px;
    color:#474747;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 4px;
    border:none;
    cursor: pointer;
}
/* -------------- */
/* Banner side */
/* -------------- */
header .banner{
    display: flex;
    margin: 0px 32px 0px 128px;
}
header .banner .description{
    max-width:595px;
    margin-right: 230px;
}
header .banner .description h4{
    font-size: 38px;
    font-weight: 600;
    color:#474747;
    margin-top: 157px;
    margin-bottom: 4px;
}
header .banner .description h2{
    font-size: 72px;
    font-weight: 800;
    color:#181818;
    margin-bottom: 17px; 
}
header .banner .description p{
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color:#757575;
    margin-bottom: 26px; 
}
header .banner .btn-1{
    margin-right: 26px;
}
header .banner .btn-1 i{
    color:white;
}
header .banner .btn-2 i{
    color:#FD6E0A;
}
header .banner .btn-1{
    color:white;
    background-color: #FD6E0A;
}
header .banner .btn-1,header .banner .btn-2{             
    font-size: 17px; 
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 4px;
    border:none;
    cursor: pointer;
}
header .banner .btn-2{
    color:#FD6E0A;
    background-color: white;
    border:1px solid #FD6E0A; 
}
header .portfoilo-image img{
    max-width: 497px; 
    margin-bottom: -4px;
}

/* ------------------ */
/* about_me section */
section .about{
    max-width:1020px;
    margin:111px 163px;
    text-align: center;
    border-width:111px 122px;
    border-style: solid;
    border-color: #FFF8F3;
}
.about .about-head{
    font-size: 30px;
    color:#181818;
    font-weight: 800;
    margin-bottom: 26px;
}
.about .description{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 26px;
}
.about .short-tag{
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
}
.about .short-tag p{
font-size: 17px;
color:#757575;
line-height: 25px;
}
.about .short-tag h4{
    font-weight: 800;
    font-size: 17px;
    color:#757575;
    line-height: 25px;
    }
    /* -------------------- */
    /* skil section */

    .skill {
        text-align: center;
        padding:0 180px;
        margin-bottom: 111px;
    }
    .skill h3{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 26px;
        color:#181818;
    }
    .skill .desc_1{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 43px;
        padding: 0 140px;
        line-height: 26px;
        color:#757575;
    }
    .skill-list{
        display: flex;
        justify-content: space-between;
    }
    .skill-list .java{
        text-align: start;
        width:227px;
        padding:27px;
        margin-right: 21px;
        /* border: 1px solid #FFFFFF; */
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    .skill-list h4{
        margin-top: 26px;
        font-size: 17px;
        font-weight: 800;
        margin-bottom: 17px;
        color:#181818;
    }
    .skill-list p{
        max-width: 173px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        color:#757575;
        text-align: start;
    }
 /* -------------------- */
    /* Resume section */
.resume{
    padding: 0 180px;
    margin-bottom: 100px;
}
.resume h2{
    padding: 0 330px;
    font-weight: 800;
    font-size: 30px;
    color:#181818;
    text-align: center;
    margin-bottom: 80px;
}
.resume .edu-experi{
    display: flex;
    margin-bottom: 43px;
}
.resume .education,.resume .experience{ 
    text-align: start;
    width: 600px;  
}
.resume .education{
    margin-right: 20px;
}
.resume .education h3,.resume .experience h3 { 
    color:#474747;
    font-weight: 800;
    font-size: 26px;
    margin-bottom: 26px;
}
.resume .block{
    max-width: 390px;
}
.edu-list h4, .experi-list h4{
    color:#474747;
    font-weight: 800;
    font-size: 21px;
    margin-bottom: 9px;
}
.edu-list h6, .experi-list h6{
    color:#757575;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 17px;
}
.edu-list p, .experi-list p{
    color:#757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 26px;
}
.edu-list hr, .experi-list hr{
    margin-bottom: 26px;
    color: #D1D1D1;
    width: 550px;
}
.resume button{
    color:white;
    background-color: #FD6E0A;
    text-align: center;
    display: block;
    margin: auto;
}
.resume .btn-1{             
    font-size: 17px; 
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 4px;
    border:none;
    cursor: pointer;
}
/* -----------------
Footer Section */
.footer-section{
    display: flex;
    background-color: #FFF8F3;
    padding: 100px 180px 0px 180px;
}
.footer-section .connect, .footer-section .info{
    width: 550px;
}
.footer-section .connect{
    margin-right: 115px;
}
.footer-section h4{
    color:#181818;
    font-weight: 800;
    font-size: 26px;
    margin-bottom: 17px;
}
.footer-section p{
    color:#474747;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 26px;
}

form input, form textarea{
    color:#757575;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    box-sizing: border-box;
    width: 98%;
    /* width:450px; */
    height:50px;
    outline-color: aqua;
    border: none;
    margin-bottom: 21px;
    padding: 15px 25px;  
}
form textarea{
    height:150px;
}
.info button{
    color:white;
    background-color: #FD6E0A;
    margin-bottom: 110px;

}
.info .btn-1{             
    font-size: 17px; 
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 4px;
    border:none;
    cursor: pointer;
}